{% extends 'userprofile/base.html' %}
        {% block content %}
        <div class="scan-be-together-section mdl-typography--text-center">
          <div class="logo-font scan-slogan">Welcome to Scantact!</div>
          <div class="logo-font scan-sub-slogan">be yourself. do your thing. see what's going on.</div>
          <a href="#screens">
            <button class="scan-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">expand_more</i>
            </button>
          </a>
        </div>
        <div class="scan-screen-section mdl-typography--text-center">
          <a name="screens"></a>
          <div class="mdl-typography--display-1-color-contrast">Get in touch with us</div>
          <div class="scan-screens">
            <!-- Simple Textfield -->
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="name">
                    <label class="mdl-textfield__label" for="name">Name</label>
                  </div><br>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="email" id="email">
                    <label class="mdl-textfield__label" for="email">Email</label>
                  </div><br>
                    <div class="mdl-textfield mdl-js-textfield">
                      <textarea class="mdl-textfield__input" type="text" rows= "3" id="message" ></textarea>
                      <label class="mdl-textfield__label" for="message">Your message</label>
                    </div><br>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                      Submit
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}

  {% block jsblock1 %}
    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <script>
    (function() {
      'use strict';
      window['counter'] = 0;
      var snackbarContainer = document.querySelector('#demo-toast-example');
      var showToastButton = document.querySelector('#demo-show-toast');
      showToastButton.addEventListener('click', function() {
        'use strict';
        var data = {message: 'Coming soon - '  + ++counter};
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
      });
    }());
    </script>
    {% endblock %}
